<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>Controller.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>User-Servlet</servlet-name>
  	<display-name>User-Servlet</display-name>
  	<description></description>
  	<servlet-class>Controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentsServlet</servlet-name>
  	<display-name>AssignmentsServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.AssignmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CoursesServlet</servlet-name>
  	<display-name>CoursesServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.CoursesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnrollmentsServlet</servlet-name>
  	<display-name>EnrollmentsServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.EnrollmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstructorServlet</servlet-name>
  	<display-name>InstructorServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.InstructorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentsServlet</servlet-name>
  	<display-name>StudentsServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.StudentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmissionsServlet</servlet-name>
  	<display-name>SubmissionsServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.SubmissionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>User-Servlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentsServlet</servlet-name>
  	<url-pattern>/AssignmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoursesServlet</servlet-name>
  	<url-pattern>/CoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnrollmentsServlet</servlet-name>
  	<url-pattern>/EnrollmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstructorServlet</servlet-name>
  	<url-pattern>/InstructorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentsServlet</servlet-name>
  	<url-pattern>/StudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmissionsServlet</servlet-name>
  	<url-pattern>/SubmissionsServlet</url-pattern>
  </servlet-mapping>
</web-app>
